<!DOCTYPE HTML>
<html>
<head>
    <title>Support Page /devpractice/</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Contact to {{support}}</div>
</body>
</html>